<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <% include ./partials/head.ejs %>
      <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Ubuntu&display=swap" rel="stylesheet">
      <link rel = "stylesheet" href= "../show.css">
  </head>
  <body>
      <% include ./partials/header.ejs %>
     
    
<main>
   <div class ="showtext">
    <h3> <%= storeID.name %> </h3>
    <hr>
  <div class ="container">
    <img src="<%= storeID.img%>">
    
                      <!-- butttons -->
                      <div class ="buttons">
                        
                        <!-- buy -->
                    <form action="/store/<%= storeID.id%>/buy?_method=PUT" method="POST">
                      <input class="btn showb" type="submit" value="BUY"/> 
                      <!-- Edit button -->
                     <a href="/store/<%= storeID.id %>/edit">
                      <button type="button" class="btn showb ">
                      Edit
                    </button>
                    </a>
                    </form>
                    
                        <form action ="/store/<%= storeID.id%>?_method=DELETE" method="POST">
                          <input class="btn showb " type="submit" value="DELETE"/>
                        
                     </form>
                    </div>

 </div>
         
 <hr>
 <h4 class = "price">Price : <%=storeID.price%></h4>
    <h4 class ="Totals"> Qty : <%=storeID.qty%></h4>
    <h3 class= "description">Description: <%=storeID.description%></h3>
  </div>

</main>
                        


</body>
</html>
 
</body>
</html>
                          
                          
                          
                          







      


      


